<footer class="pixar-footer">
  <div class="footer-main">
    <div class="footer-row">
      <div class="social-icons">
        <a href="https://www.linkedin.com/company/pixar-animation-studios" target="_blank" class="social-icon linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://www.facebook.com/Pixar/" target="_blank" class="social-icon facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://x.com/pixar" target="_blank" class="social-icon twitter"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.youtube.com/pixar" target="_blank" class="social-icon youtube"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.instagram.com/pixar/" target="_blank" class="social-icon instagram"><i class="fa-brands fa-instagram"></i></a>
      </div>
      
      <div class="footer-content">
        <div class="footer-column">
          <h3>FILMS</h3>
          <ul>
            <li><a href="/feature-films">Features</a></li>
            <li><a href="/short-films">Shorts</a></li>
            <li><a href="/series">Series</a></li>
            <li><a href="/sparkshorts">SparkShorts</a></li>
            <li><a href="/docs">Documentaries</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>TECH</h3>
          <ul>
            <li><a href="/technology-at-pixar">Tech at Pixar</a></li>
            <li><a href="/renderman">RenderMan</a></li>
            <li><a href="/openusd">Open USD</a></li>
            <li><a href="/software-rd">Software R&D</a></li>
            <li><a href="/technology-libraries">Libraries</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>CAREERS</h3>
          <ul>
            <li><a href="/careers">Careers At Pixar</a></li>
            <li><a href="/internships">Internships</a></li>
            <li><a href="/life-at-pixar">Life At Pixar</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>MORE</h3>
          <ul>
            <li><a href="/leaders">Leaders</a></li>
            <li><a href="/our-story">Our Story</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/pixar-in-a-box">Pixar In A Box</a></li>
            <li><a href="/supplier-diversity">Supplier Diversity</a></li>
            <li><a href="/company-faqs">FAQ's</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer-bottom">
    <div class="privacy-links">
      <a href="#" class="privacy-link">Do Not Sell or Share My Personal Information</a>
      <div class="policy-links">
        <a href="#">Privacy Policy</a> | <a href="#">Your US State Privacy Rights</a> | <a href="#">Children's Online Privacy Policy</a> | <a href="#">Interest Based Ads</a>
      </div>
      <p>{{copyright}}</p>
    </div>
  </div>
</footer>
