<header>
  <div class="header-logo">
    <img src="logo.png" alt="Pixar Logo">
  </div>
  <nav class="header-nav">
    <div class="hamburger-menu" (click)="toggleMenu()">
      <span></span>
      <span></span>
    </div>
    <ul>
      <li><a href="#films" (click)="closeMenu()">FILMS</a></li>
      <li><a href="#technology" (click)="closeMenu()">TECHNOLOGY</a></li>
      <li><a href="#careers" (click)="closeMenu()">CAREERS</a></li>
      <li><a href="#more" (click)="closeMenu()">MORE</a></li>
    </ul>
  </nav>
</header>
